* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MontBold;
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontMedium;
  src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: MontLight;
  src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --montbold: MontBold;
  --montmedium: MontMedium;
  --montlight: MontLight;
}

#body {
  background: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#46025F));
  background: linear-gradient(180deg, #252525 0%, #46025F 100%);
  height: 100vh;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#mainpage {
  font-family: var(--montmedium);
  margin: 0;
  padding: 0;
  padding: 30px 0;
}

#mainpage .all {
  margin: 0;
  padding: 0;
}

#mainpage .all .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

#mainpage .all .middle .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

#mainpage .all .middle .first span {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  border-radius: 25px;
  background-color: green;
  background: rgba(255, 255, 255, 0.01);
  color: #89DC65;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-box-shadow: inset 0px 4px 18px #89DC65, inset 0px 1px 0px #89DC65;
          box-shadow: inset 0px 4px 18px #89DC65, inset 0px 1px 0px #89DC65;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#mainpage .all .middle .first span:hover {
  background: rgba(153, 6, 6, 0.2);
}

#mainpage .all .middle .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

#mainpage .all .middle .second span {
  text-align: center;
  width: 24%;
  background: #46025F;
  border-radius: 30px;
  color: #89DC65;
  font-size: 18px;
  padding: 5px 0;
}

#mainpage .all .middle .second span:nth-child(1) {
  margin-right: 10px;
}

#mainpage .all .middle .second span:nth-child(2) {
  margin-left: 10px;
}

#mainpage .all .middle .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  font-size: 120px;
  font-weight: 800;
  line-height: 100px;
  color: #89DC65;
}

#mainpage .all .middle .third span {
  text-align: center;
}

#mainpage .all .middle .third span:nth-child(1) {
  margin-right: 50px;
}

#mainpage .all .middle .third span:nth-child(2) {
  margin-left: 50px;
}

#mainpage .all .middle .fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

#mainpage .all .middle .fourth .gametap {
  background: rgba(255, 255, 255, 0.01);
  -webkit-box-shadow: inset 0px 4px 18px #89DC65, inset 0px 1px 0px #89DC65;
          box-shadow: inset 0px 4px 18px #89DC65, inset 0px 1px 0px #89DC65;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 30px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#mainpage .all .middle .fourth .gametap:hover {
  background: rgba(153, 6, 6, 0.2);
  -webkit-transform: translateY(5%) scale(1.1);
          transform: translateY(5%) scale(1.1);
}

#mainpage .all .middle .fifth {
  background: #89DC65;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 25%;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #46025F;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#mainpage .all .middle .fifth:hover {
  background: #89dc6570;
  color: #bbbbbb;
}
/*# sourceMappingURL=style.css.map */