* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoLight;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --robotobold: RobotoBold;
  --robotomedium: RobotoMedium;
  --robotolight: RobotoLight;
}

#body {
  background-color: #ECF2FF;
}

@-webkit-keyframes animateps {
  0% {
    width: 5px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 5px;
  }
}

@keyframes animateps {
  0% {
    width: 5px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 5px;
  }
}

#main #mainpage {
  padding: 20px 0;
  font-family: var(--robotomedium);
}

#main #mainpage .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #mainpage .all .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #mainpage .all .first .firstp {
  text-align: center;
  font-size: 25px;
  position: relative;
}

#main #mainpage .all .first .firstp::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: blue;
  -webkit-animation: animateps 2s ease infinite;
          animation: animateps 2s ease infinite;
}

#main #mainpage .all .first .firstp::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: blue;
  -webkit-animation: animateps 2s ease infinite;
          animation: animateps 2s ease infinite;
}

#main #mainpage .all .first .secondp {
  text-align: center;
  font-size: 25px;
  position: relative;
}

#main #mainpage .all .first .secondp::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: blue;
  -webkit-animation: animateps 2s linear infinite;
          animation: animateps 2s linear infinite;
}

#main #mainpage .all .first .secondp::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: blue;
  -webkit-animation: animateps 2s linear infinite;
          animation: animateps 2s linear infinite;
}

#main #mainpage .all .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px;
  margin-top: 20px;
}

#main #mainpage .all .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#main #mainpage .all .third .gametap {
  border-radius: 5px;
  border: 0.5px solid blue;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main #mainpage .all .third .gametap i {
  font-size: 50px;
}

#main #mainpage .all .third .gametap:hover {
  background-color: blue;
  color: white;
}

#main #mainpage .all .fourth {
  border: 0.5px solid blue;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  padding: 15px 30px;
  margin-top: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

#main #mainpage .all .fourth:hover {
  background-color: blue;
  color: white;
}
/*# sourceMappingURL=style.css.map */